{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
              integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
              crossorigin="anonymous">
        <title>Simple is Better Than Complex</title>

        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    </head>

    <body>

    <div class="container-contact100">
        <div class="wrap-contact100">

            {% load widget_tweaks %}

            <form method="post" novalidate>
    <span class="contact100-form-title">
                        Hi {{ user }} ! whats up ?
    </span>
                {% if user.is_authenticated %}
                    {% csrf_token %}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}





                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag  }}

                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}

                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}


                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                    </div>
                    </div>

                {% else %}

                    <div class="row">
                        <div class="col">You are not logged in!</div>
                        <div class="col"><a class="h5" style="color:#fc00ff " href="{% url 'login' %} "> login </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">Not Member Please</div>
                        <div class="col"><a class="h5" style="color: #fc00ff"
                                            href="{{ url }}/accounts/signup/">sigup</a></div>
                    </div>

                {% endif %}

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    </body>


{% endblock %}